 .cf{
 	margin-top: 60px;
 }
 .dvtb{
 	margin-top: 30px;
 	margin-bottom: 30px;
 }
 .tbimg{
 	width: 400px;
	height: 400px;
 }
 .cd{
 	margin-top: 30px;
 	margin-bottom: 25px;
 }
 #cart{
 	width: 150px;
 	height: 70px;
 }