#navclm{
	padding: 10px;
	height: 200%;
	color:white;
	background-color:  #212529

}
.crd{
	margin-top: 90px;
	margin-bottom: 80px;
}
.card1{
	margin-top: 90px;
	margin-bottom: 80px;
}
.cl{
	margin-top: 80px;
}
.cd{
	position: fixed;
    top: 520px;
    right: 15px;
    width: 120px;
    bottom: 13px;
    z-index: 999;

}
#cart{
	height: 50px;
	width: 50px;
}