#navclm{
	padding: 10px;
	height: 200%;
	color:white;
	background-color:  #212529

}
.h{
	color: white;
}
.nav-link{
	color: white;
}
.nav-item{
	margin-top: 5px;
	border-bottom: 1px solid;
}
#ah{
	color: white;
	float: right;
}
#frm{
	margin-top: 40px;
	padding: 20px;
}
#aft{
	color: white;
	background-color:  #212529
}
.spnadmin{
	color: red;
}
#acen{
	margin-top: 20px;
	margin-bottom: 
}